node_modules/
.meteor/local
npm-debug.log
typings
.idea
build
dist

.mobile/coverage/
.mobile/dist/
.mobile/node_modules/
.mobile/tmp/
.mobile/temp/
.mobile/hooks/
.mobile/platforms/
.mobile/plugins/
.mobile/plugins/android.json
.mobile/plugins/ios.json
.mobile/www/
.mobile/.idea/
.mobile/.sass-cache/
.mobile/.tmp/
.mobile/.versions/